# Supabase Database
CONNECTION_STRING=postgresql://postgres:[YOUR_PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
host=aws-0-eu-west-1.pooler.supabase.com
port=5432
Publishable_key=your_publishable_key
SECRET_KEY=your_secret_key

# Qdrant Vector Database
QDRANT_API_KEY=your_qdrant_api_key
CLUSTER_ENDPOINT=https://your-cluster.us-west-2-0.aws.cloud.qdrant.io